*{
    font-size: 15px;
    font-family: din-round,sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.logo{
    width: 300px;
    height: auto;
}

.input{
    border-radius: 16px;
    border-width: 2px 2px 4px;
    box-sizing: border-box;
    background-color: #dbb47d;
}

body{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.results{
    display: flex;
    flex-direction: column;
}
.result_item{
    font-weight:700;
}
.items{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.warning{
    display: flex;
    align-self: stretch;
    font-style: italic;
}
.button{
  appearance: button;
  background-color: #dbb47d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.button:after {
  background-clip: padding-box;
  background-color: #f0a030;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}
